.container{

    height: 300px;

    overflow: auto;
}

#btn{

    cursor: pointer;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    position: fixed;

    left: 0;
    bottom: 0;

    height: 60px;
    width: 100%;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: dodgerblue;

    transition: background-color 0.3s;
}

#btn:hover{
    background-color: deepskyblue;

}
#btn:active{
    background-color: dodgerblue;

}