<!doctype html>
<html lang="zh" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>带阅读进度指示的侧边栏列表项</title>
	<!-- CSS reset -->
	<link rel="stylesheet" type="text/css" href="css/default.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<header class="cd-header">
		<h1>Header</h1>
	</header>

	<div class="cd-articles">
		<article>
			<header>
				<h1>A</h1>
			</header>

			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
		</article>

		<article>
			<header>
				<h1>B</h1>
			</header>

			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
		</article>

		<article>
			<header>
				<h1>C</h1>
			</header>

			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
		</article>

		<article>
			<header>
				<h1>D</h1>
			</header>

			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
			<p>Hello World!</p>
		</article>

		<aside class="cd-read-more">
			<ul>
				<li>
					<a href="index.html">
						<em>A</em>
						<svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36">
							<circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle>
						</svg>
					</a>
				</li>

				<li>
					<a href="how-star-wars-brought-kim-and-kanye.html">
						<em>B</em>
						<svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36">
							<circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle>
						</svg>
					</a>
				</li>

				<li>
					<a href="how-audiences-reacted-to-the-star-wars.html">
						<em>C</em>
						<svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36">
							<circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle>
						</svg>
					</a>
				</li>

				<li>
					<a href="the-ultimate-star-wars-dictionary.html">
						<em>D</em>
						<svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36">
							<circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle>
						</svg>
					</a>
				</li>
			</ul>
		</aside>
		<!-- .cd-read-more -->
	</div>
	<!-- .cd-articles -->

	<footer class="cd-footer">
		<p>Footer</p>
	</footer>

	<script src="../../public/js/jquery.min.js"></script>
	<script src="js/main.js"></script>
	<!-- Resource jQuery -->
</body>

</html>