body{
    font-family: "Microsoft YaHei", sans-serif;
}

.container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.main{

    width: 80%;
    height: 60%;

    border: 1px grey solid;

    box-sizing: border-box;

    padding: 8px 16px;

}