<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/style.css" rel="stylesheet">
    <link href="./dist/alimap.css" rel="stylesheet">
</head>

<body>

    <div class="container">

        <h1>阿里云地图</h1>

        <div class="alimap" style="background-image: url(./imgs/alimap.png); min-width: 1127px; width: 1127px; height: 508px; margin: 0 auto;">

            <div class="alimap-point" style="left: 835px; top: 175px;">
                <div class="alimap-point-dot">
                    <span>
                            广州
                        </span>
                </div>
                <div class="alimap-point-ring"></div>
                <div class="alimap-point-ring alimap-point-ring-500"></div>
            </div>

            <div class="alimap-point" style="left: 220px; top: 60px; width: 150px; height: 150px;">
                <div class="alimap-point-dot">
                    <span>
                            纽约
                        </span>
                </div>
                <div class="alimap-point-ring"></div>
                <div class="alimap-point-ring alimap-point-ring-500"></div>
                <div class="alimap-point-ring alimap-point-ring-1500"></div>
            </div>


        </div>

    </div>


</body>

</html>