body {
  background: #f9f9f9; }

.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

#volume-slider {
  align-items: center;
  display: flex;
  margin: 3em auto;
  padding: 30px 0;
  width: 265px; }

.volume-icon {
  cursor: pointer;
  height: 60px;
  transform: rotate(0deg);
  transform-origin: center left;
  width: 60px; }
  .volume-icon .volume-icon-bg {
    fill: #cbc8ce;
    transition: fill 300ms; }
  .volume-icon:hover .volume-icon-bg {
    fill: #b6aebf; }

#circle-mask-shape {
  transform: scale(0);
  transform-origin: center center; }

.volume-track {
  background-color: #e1dee5;
  border-radius: 3px;
  flex: 1;
  height: 4px;
  margin-left: 5px;
  position: relative; }

.volume-indicator {
  background-color: #6e33a5;
  border-radius: 50%;
  height: 12px;
  left: 0;
  position: absolute;
  top: -4px;
  transition: visibility 100ms, opacity 100ms;
  width: 12px; }
