<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Volume Regulator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../pub/css/normalize.min.css">
        <link rel="stylesheet" href="../../pub/css/font-awesome.min.css">
        <link href="./css/style.css" rel="stylesheet">
    </head>
    <body>

        <div class="container">

            <span class="volume-regulator">
                <span class="fa fa-2x fa-volume-up"></span>

                <span class="volume-regulator-main">
                    <div class="volume-regulator-tyre-pump">
                        <img src="./imgs/tyre-pump.png" id="volume-regulator-tyre-pump" draggable="false">
                    </div>
                    <img src="./imgs/tyre-pump-main.png" id="volume-regulator-tyre-pump-main">
                    <div class="volume-regulator-value">
                        <div class="volume-regulator-value-container">
                            <div id="volume-regulator-value"></div>
                        </div>
                    </div>
                </span>

            </span>


        </div>


    </body>
</html>