<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Responsive TopBar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="../../public/css/normalize.min.css">
        <link rel="stylesheet" href="../../public/css/font-awesome.min.css">
    </head>
    <body>
    
        <header class="header">
            <div class="header-main">

                <div class="header-logo">
                    <a href="#">
                        <img src="../../public/imgs/dev.png"/>
                    </a>
                </div>

                <input type="checkbox" id="header-menu-toggle">
                
                <label for="header-menu-toggle" class="header-menu-toggle">
                    <span class="fa fa-navicon"></span>
                </label>

                <ul class="header-menu">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
            </div>
        </header>

    </body>
</html>