<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ajax Promise</title>
  <style>
    html,
    body {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }

    .container {
      overflow: auto;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #333;

      color: white;
      font-size: 18px;
    }

    .container pre{
      margin: 0;
    }

  </style>
</head>

<body>

  <div class="container">

    <pre>

        ///////////////////////
        // 定义ajax-promise.js
        ///////////////////////

        var AjaxPromise = function(url, method, header, data) {
          return new Promise(function(resolve, reject) {
            var xhr = createXHR();
            xhr.open(method, url, true);
            for (var key in header) {
              xhr.setRequestHeader(key, header[key]);
            }
            xhr.onreadystatechange = function() {
              if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                  resolve(xhr.responseText);
                } else {
                  reject('请求失败');
                }
              }
            };
      
            xhr.send(data);
          });
        };


        ///////////////////////
        // 使用
        ///////////////////////

        &lt;script src="../promise/libs/promise.js"&gt;&lt;/script&gt;
        &lt;script src="libs/ajax-promise.js"&gt;&lt;/script&gt;

        AjaxPromise('https://cn.vuejs.org/images/logo.png', 'GET', {}, {})
          .then(function (res) {

            console.log(res);

          }).catch(function (err) {

            console.log(err);
            
          });
    </pre>

  </div>

  <script src="../promise/libs/promise.js"></script>
  <script src="libs/ajax-promise.js"></script>
  <script>
    AjaxPromise('#', 'GET', {}, {})
      .then(function (res) {
        console.log(res)
      }).catch(function (err) {
        console.log(err);
      });
  </script>

</body>

</html>