<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Promise</title>

  <style>
    html,
    body {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }

    .container {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #333;
      color: white;
      font-size: 18px;
    }

    pre {
      margin: 0;
    }
  </style>
</head>

<body>

  <div class="container">

    <pre>

      ///////////////////////
      // 定义promise.js
      ///////////////////////
      
      var Promise = function(fn) {
        var state = 'pending';
        var doneList = [];
        var catcher = null;
    
        this.then = function(done) {
          switch (state) {
            case 'pending':
              doneList.push(done);
              return this;
            default:
              break;
          }
        };
    
        this.catch = function(c) {
          switch (state) {
            case 'pending':
              catcher = c;
              break;
            default:
              break;
          }
        };
    
        function resolve(newValue) {
          setTimeout(function() {
            state = 'fulfilled';
            var value = newValue;
            doneList.forEach(function(fulfill) {
              value = fulfill(value);
            });
          }, 0);
        }
    
        function reject(e) {
          setTimeout(function() {
            state = 'rejected';
            catcher && catcher(e);
          }, 0);
        }
    
        fn(resolve, reject);
      };
    

      ///////////////////////
      // 使用
      ///////////////////////
      &lt;script src="libs/promise.js"&gt;&lt;/script&gt;

      ...
      
      new Promise(function (resolve, reject) {
      
        setTimeout(function () {

          resolve('ok');

        }, 1000);
      
      }).then(function (res) {

        console.log(res);

      }).catch(function (err) {

        console.log(err);

      });

    </pre>

  </div>

  <script src="libs/promise.js"></script>
  <script>
    new Promise(function (resolve, reject) {

      setTimeout(function () {
        resolve('ok');
      }, 1000);

    }).then(function (res) {
      console.log(res);
    }).catch(function (err) {
      console.log(err);
    });
  </script>

</body>

</html>