<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Popup</title>

  <link rel="stylesheet" href="assets/css/popup.css">
  <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

  <div class="container">

    <div class="label" data-popup="World">Hello</div>

    <p class="tips">Please hover the label on the top.</p>

  </div>

  <script>
  </script>

</body>

</html>