<!DOCTYPE html>
<html lang="en">

<head>
    <title>Background Attachment</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../public/css/normalize.min.css">
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>

    <header>
        Header
    </header>

    <section class="bg-attachment">
        <h1>Background Attachment</h1>
    </section>

    <section>
        Section
    </section>

    <footer>
        Footer
    </footer>

</body>

</html>