<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Loop Banner</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="../../public/css/font-awesome.min.css">
    </head>
    <body>

        <div class="container">
            <div class="banner" id="banner">
                <div class="banner-action banner-action-back" id="banner-action-back">
                    <span class="fa fa-chevron-left"></span>
                </div>
                <div class="banner-action banner-action-front" id="banner-action-front">
                    <span class="fa fa-chevron-right"></span>
                </div>
            </div>
        </div>

        <script src="./js/main.js"></script>
        
    
    </body>
</html>