.container{

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #666;


}

.volume-regulator{

    position: relative;

    color: white;


    transition: color 0.3s;


}
.volume-regulator:hover{
    color: #ccc;
}

.volume-regulator-main{

    display: none;

    width: 100%;
    height: 130px;

    position: absolute;
    top: -130px;

    justify-content: center;

}
.volume-regulator:hover .volume-regulator-main{
    display: flex;
}

.volume-regulator-tyre-pump{

    position: absolute;
    left: 0;
    top: 0;
    height: 75%;
    width: 100%;

    border: 1px solid red;

    z-index: -999;

    display: flex;
    justify-content: center;
    cursor: pointer;

}

#volume-regulator-tyre-pump{
    position: relative;
    top: -20%;
    height: 100%;
}

#volume-regulator-tyre-pump-main{
    height: 90%;
}

.volume-regulator-value{
    position: absolute;
    width: 100%;
    height: 90%;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.volume-regulator-value-container{

    position: relative;
    top: -5%;
    height: 70%;
    width: 20%;

    background-color: #333;

}


#volume-regulator-value{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: greenyellow;
}