<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Custom Radio</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="container">



    <label class="custom-radio">
      <input type="radio" name="test" value="1">
      <div class="custom-radio-wrap">
        <span class="custom-radio-sign"></span>
        <span class="custom-radio-label">
          Hello 1
        </span>
      </div>
    </label>
    <label class="custom-radio">
      <input type="radio" name="test" value="2">
      <div class="custom-radio-wrap">
        <span class="custom-radio-sign"></span>
        <span class="custom-radio-label">
          Hello 2
        </span>
      </div>
    </label>

  </div>

</body>

</html>