<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simple Calendar</title>

  <link rel="stylesheet" href="assets/css/style.css">
  <script src="assets/libs/require.js"></script>

</head>

<body>

  <div class="container">

    <div id="calendar">

    </div>

  </div>

  <script>
    
    requirejs.config({
      baseUrl: 'assets/libs',
      paths: {
        js: '../js'
      }
    });

    require(['js/main']);

  </script>

</body>

</html>