<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Before After</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./css/style.css" rel="stylesheet">
    </head>
    <body>

        <div class="container">

            <div class="row">

                <div class="ba-1">Hello</div>

            </div>

            <div class="row">

                <div class="ba-2">Hover Me</div>

            </div>



        </div>
        
        


    </body>
</html>