<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CSS Triangle</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./css/style.css" rel="stylesheet">
        <link href="./css/triangle.css" rel="stylesheet">
        
    </head>
    <body>

        <div class="container">

            <div class="triangle-up"></div>
            <pre>
.triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}
            </pre>

            <div class="triangle-down"></div>
            <pre>
.triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}

            </pre>

            <div class="triangle-left"></div>
            <pre>
.triangle-left {
    width: 0;
    height: 0;
    border-right: 100px solid red;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
            </pre>

            <div class="triangle-right"></div>
            <pre>
.triangle-right {
    width: 0;
    height: 0;
    border-left: 100px solid red;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
            </pre>


        </div>
    
    </body>
</html>