<!DOCTYPE html>
<html lang="en">

<head>
    <title>Upload Progress</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>

    <div class="container">

        <div class="content">

            <div class="row">
                <div class="img">
                    <img src="../../public/imgs/IzumiSagiri.jpg" alt="" id="img">
                </div>
            </div>

            <div class="row">
                <div id="progress">
                    <div id="progress-bar" style="width: 0%"></div>
                </div>
            </div>

            <div class="row">
                <a class="ipt" href="javascript:;">
                    <input id="ipt-file" type="file">
                    Browse
                </a>
                <button id="btn-upload">Upload</button>
            </div>

        </div>

    </div>

    <script src="./js/main.js"></script>

</body>

</html>